<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <tr><td>
        <input type="submit" name="new" value="新增信息" size="10">
        <input class="insert" placeholder="请输入内容"></input>
    </td>

    </tr>

    <tr><td><div>
        <input type="submit" name="show_all" value="显示所有信息">
    </div>
    </td>
    </tr>

    <tr><td><div>
        <input type="reset" name="Reset" value="删除所有信息">
    </div>
    </td>
    </tr>

    <tr><td><div>
        <input type="submit" name="lucky" value="寻着幸运儿">
    </div>
    </td>
    </tr>
    
</head>
<body>

</body>
</html>